<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Quorce</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style type="text/css">
            pre {
                overflow: auto;
            }

            .quote_container {
                background-color: #efefef;
                margin-left: 5%;
                margin-right: 5%;
                margin-top: 1em;
            }
        </style>
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>
